<div class="mb-10">
  <a [routerLink]="['create']" *ngIf="([permissions.writeBooks] | hasPermissions)" type="button" class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Create Book</a>
</div>
<div role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
  <app-book-card *ngFor="let book of pagedBooks.items" [book]="book"></app-book-card>
</div>
